<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheet/register.css">
</head>
<body>
  <div>
    <form action="/create" method="post">
      <input type="text" name="name" placeholder="username"/>
      <input type="text" name="email" placeholder="Email"/>
      <input type="password" name="password" placeholder="Password"/>
      <input type="number" name="age" placeholder="Age"/>
      <input type="submit" value="Create"/>
      <a href="/login">Login</a>
    </form>
  </div>
</body>
</html>
