<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheet/cards.css">
</head>
<body>
  <div id="container">
    <div id="cards">
      <div id="card">
        <div id="img"></div>
        <div id="text">
          <h4>Tu mil gya</h4>
          <h6 id="name">Devi prasad</h6>
          <a>Edit</a>
          <a>Delete</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>