body {
  background-color: #333; /* dark background color */
  color: #fff; /* text color */
}

form {
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent dark background */
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 50px auto; /* added margin for centering */
}

input[type="text"], input[type="password"], input[type="number"], input[type="submit"] {
  width: calc(100% - 20px); /* adjusted width for padding */
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4CAF50; /* Green submit button */
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

a {
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underline */
  display: block; /* Make the link a block element */
  margin-top: 10px; /* Add some spacing above the link */
}
