<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheet/form.css">
</head>
<body>
  <div id="container">
    <nav>
      <a href="/cards">All Song</a>
    </nav>
    <form id="form" action="/create" method="post">
      <input name="name" placeholder="Name"/>
      <input name="url" placeholder="Image URL"/>
      <input name="artistname" placeholder="Artist Name"/>
      <input type="submit" id="btn" value="create"/>
    </form>
</div>
</body>
</html>